.map-responsive {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.parking-map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.parking-map-image,
.parking-map-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.parking-map-overlay {
  pointer-events: none;
}

.parking-map-zoom-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
